.vs/ScreenSound/FileContentIndex/eceb79a7-3b5d-4fbc-bad1-4afab2b218dd.vsidx
.vs/ScreenSound/FileContentIndex/c63b2490-8d48-4432-a0fc-570811d063c2.vsidx
.vs/ScreenSound/FileContentIndex/a07dafdd-4767-430a-a376-61e3efac7d92.vsidx
.vs/ScreenSound/FileContentIndex/a7bd2b97-ef7b-4f22-bd24-be57946eaa97.vsidx
.vs/ScreenSound/FileContentIndex/27ba44b5-e5c1-4662-bd8b-2dc7668c45d7.vsidx
.vs/ScreenSound/FileContentIndex/2ca0edc3-58f8-4750-a024-4a4eaf530b9f.vsidx
